@inherits LayoutComponentBase
@inject IConfiguration Configuration

<PageTitle>@_familyName Family Dashboard</PageTitle>
<main>
    <header class="d-flex justify-content-center mb-2 p-3">
        <DashboardTitle FamilyName="@_familyName" />
    </header>
    <article class="content p-4">
        @Body
    </article>
    <footer class="d-flex justify-content-center mt-2 p-3">
        <DashboardFooter FamilyName="@_familyName" />
    </footer>
</main>

@code {
    private string? _familyName;
    protected override void OnInitialized()
    {
        _familyName = Configuration["FamilyName"];
        base.OnInitialized();
    }
}