@page "/"

<div class="row">
    <div class="col p-3 border border-primary">
        <RandomJoke />
    </div>
    <div class="col p-3 border border-primary">
        <RandomQuote />
    </div>
</div>
